<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about page</title>
</head>
<img id="athletics" src="images/athletics.jpeg" alt="Brandeis Judges logo with students in the background"/>
<div class="content">
    <h1>Brandeis Athletics</h1>
    <p>
        Brandeis Athletics was founded in 1948 and is centered at Gosman Center. The Judges
        compete in the University Athletic Association (UAA), comprising Carnegie Mellon 
        University, Case Western Reserve University, Emory University, New York University, 
        the University of Chicago, the University of Rochester and Washington University 
        (St. Louis). UAA teams are among the most successful athletic programs in the nation, 
        giving Brandeis athletes a chance to prove themselves against the best Division III has to offer.
    </p>
    <h2>Mission Statement</h2>
        <p>The Brandeis Department of Athletics, Physical Education, and Recreation 
            enriches the current and future lives of our community through sport, 
            fitness and wellness offerings. We achieve our mission by:
        </p>
        <ul>
            <li>Providing opportunities for students to seek competitive excellence utilizing the values of discipline, leadership, resilience and respect</li>
            <li>Encouraging students to explore interests and habits leading to the development of an appreciation of lifelong health and fitness</li>
            <li>Complementing the educational mission of the University by emphasizing the development of a well-balanced lifestyle</li>
            <li>Developing an inclusive community in which all can learn, play and compete</li>
        </ul>
</div>
</html>