<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>events page</title>
    <link rel="stylesheet" href="../public/css/styles.css" type="text/css" />

</head>
<body>
    <h1> 2022-23 Composite Schedule of Brandeis University Athletic Events    </h1>

    <h4> Sunday, March 12, 2023</h4>
    <ul>
        <li> Men's Tennis vs Colby</li>
        <p> Location: Cordish Tennis Center</p>
    </ul>
    <ul>
        <li> Women's Tennis vs Colby</li>
        <p> Location: Cordish Tennis Center</p>
    </ul>

    <h4> Saturday, March 18, 2023</h4>
    <ul>
        <li> Baseball Double-Header vs Bates </li>
        <p> Location: Stein Diamond</p>
    </ul>

    <h4> Sunday, March 19, 2023</h4>
    <ul>
        <li> Baseball vs Bates </li>
        <p> Location: Stein Diamond</p>
    </ul>

    <h4> Wednesday, March 22, 2023</h4>
    <ul>
        <li> Baseball vs Wentworth </li>
        <p> Location: Stein Diamond</p>
    </ul>

    <h4> Friday, March 24, 2023</h4>
    <ul>
        <li> Softball vs Carnegie Mellon </li>
        <p> Location: Marcus Field</p>
    </ul>
    <h1> Charity Events    </h1>
    <h4> Relay For Life of Brandeis University    </h4>
    <ul>
        <li> Date: April 22, 2023 </li>
        <p> Location: Brandeis University Main Enterance </p>
    </ul>
    <div class="events">
    <h1> Past Events</h1>
    <img src="images/charity.jpeg" alt="charity pic" />
    <p> Brandeis Class of 2021 sucessfully raised $12,089 for American Cancer Society!</p>
    <img src="images/sports.jpeg" alt="track and fields" />
    <p> Brandeis Track and Fields home game at Gosman Center. </p>
    </div>
</body>
</html>