<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>facilities pages</title>
    <link rel="stylesheet" href="../public/css/styles.css" type="text/css" />

</head>
<body>
    <h1> GOSMAN SPORTS AND CONVOCATION CENTER </h1>
    <h2>SPRING SEMESTER HOURS    </h2>
    <h3> Monday - Thursday: 7am-11pm </h3>
    <h3> Friday - Sunday: 10am-10pm</h3>
    <p> All activity spaces close 15 minutes early.    </p>
    <h2> Facilities List</h2>
    <div>
    <h3> Gym </h3>
    <img src="images/gym.jpeg" alt="Brandeis gym"/>
    <p> Brandeis has 2 basketball courts, indoor track, and extrs space students can use. Home games also take place here. </p>
    <h3> Pool </h3>
    <img src="images/pool.jpeg" alt="Brandeis indoor pool"/>
    <p> Brandeis has an indoor pool that students can use to swim. </p>
    <h3> Tennis Courts </h3>
    <img src="images/outdoortennis.webp" alt="Brandeis outdoor tennis court"/>
    <img src="images/indoortennis.webp" alt="Brandeis outdoor tennis court"/>
    <p> Brandeis has multiple indoor and outdoor tennis court to play tennis. </p>
    <h3> Basketball Court</h3>
    <img src="images/basketball.jpeg" alt="Brandeis indoor basketball court"/>
    <p> Brandeis has an indoor basketball court where students can play basketball with their friends.</p>
    <h3> Wall Climbing </h3>
    <img src="images/wallclimb.webp" alt="Brandeis indoor wall climbing"/>
    <p> Brandeis has an indoor wall climbing for students as well </p>
    </div>
    <h2> Reservations</h2>
    <p> Tennis court, squash court, and and batting cage reservations can be made by individuals using the calendar below.
        <br>
        Campus organizations can request reservations for other spaces also using the calendar below.
        <br>
        Highlight the preferred date and time for the preferred space and you will be redirected to the reservation form.
    </p>
    
</body>
</html>
