<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>programs</title>
    <link rel="stylesheet" href="../public/css/styles.css" type="text/css" />

</head>
<body>
    <h2> Youth Sports League</h2>
    <ul>
        <li> Basketball </li>
        <ul>
            <li> Schedule: Tuesdays 6-7pm </li>
            <li> Price: $50 per session </li>
        </ul>
        <li> Fencing</li>
        <ul>
            <li> Schedule: Saturdays 1-3pm </li>
            <li> Price: $60 per session </li>
        </ul>
        <li> Soccer</li>
        <ul>
            <li> Schedule: Thursdays 6-7pm </li>
            <li> Price: $50 per session </li>
        </ul>
        <li> Tennis</li>
        <ul>
            <li> Schedule: Wednesdays 7-8pm </li>
            <li> Price: $70 per session </li>
        </ul>
    </ul>

    <h2> Swimming Lessons</h2>
    <ul>
        <li> Adult Swimming Lessons</li>
        <ul>
        <li> Schedule: Tuesdays 4-5pm </li>
        <li> Price: $60 per session </li>
        </ul>
    </ul>

    <h2> Fitness Classes</h2>
    <ul>
        <lu> Zumba Class</lu>
        <ul>
            <li> Schedule: Wednesdays 4-5pm </li>
            <li> Price: $40 per session </li>
        </ul>
        <li> Pilates Class</li>
        <ul>
            <li> Schedule: Mondays-Fridays 4-5pm </li>
            <li> Price: $50 per session </li>
        </ul>
    </ul>
    <p id="contact"> Please fill out the contacts us to sign up and receive more information about these programs.</p>
</body>
</html>