<div class="content">
	<div class="data-form">
	  <form action="/programs/create" method="POST">
		<h2>Create a New Program:</h2>
		<div class="form-inputs">
			<div class="row">
				<label for="name">Name: * </label>
				<input
					type="text"
					name="name"
					id="name"
					required
				/>
			</div>
			<br />
			<div class="row">
				<label for = "description">Description: * </label>
				<input
					type="text"
					name="description"
					id="description"
					required
				/>
			</div>
			<br />
			<div class="row">
				<label for = "schedule">Schedule: * </label>
				<input
					type="text"
					name="schedule"
					id="schedule"
					required
				/>
			</div>
			<br />
			<div class="row">
				<label for="instructor">Instructor: * </label>
				<input
					type="text"
					name="instructor"
					id="instructor"
					required
				/>
			</div>
			<br />
		</div>
		<button type="submit"> Create </button>
	  </form>
	</div>
	</div>