<div class="content">
	<div class="center">
		<h1>Contact Us</h1>
		<h3>415 South Street, Waltham, MA 02453 | (781) 736-3668 | sportsinfo@brandeis.edu</h3>
		<% if (loggedIn) {
			if (currentUser.isAdmin) { %>
				<h2><a href="/contact">View messages</a></h2>
			<% } %>
		<% } %>
		<h2>Send a message</h2>
	</div>

	<form action="/contact/create" method="POST">
		<div class="form-inputs">
			<div class="row">
				<label for="name">Name: * </label>
				<input type="text" name="name" id="name" autofocus required>
			</div>
			<br>
			<div class="row">
				<label for="email">Email: * </label>
				<input type="text" name="email" id="email" required>
			</div>
			<br>
			<div class="row">
				<label for="title">Title: * </label>
				<input type="text" name="title" id="title" required>
			</div>
		</div>
		<br>
		<label for="issue">Issue: * </label><br>
		<textarea name="issue" id="issue" cols="30" rows="10" required></textarea>
		<br>
		<br>
		<button type="submit"> Send </button>
		<br>
		<br>
	</form>
</div>

